
<div class="bg-custom-image bg-cover bg-center min-h-screen flex items-center justify-center">
    <div class="absolute inset-0 flex justify-center items-center">
      <div class="absolute w-48 h-48 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110 animate-pulse"></div>
      <div class="absolute w-40 h-40 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110" style="top: 10%; left: 20%; animation: pulse 1.5s infinite ease-in-out;"></div>
      <div class="absolute w-36 h-36 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110" style="top: 80%; left: 70%; animation: pulse 1.5s infinite ease-in-out;"></div>
      <div class="absolute w-56 h-36 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110" style="top: 10%; left: 70%; animation: pulse 1.5s infinite ease-in-out;"></div>
      <div class="absolute w-44 h-44 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110" style="top: 40%; left: 10%; animation: pulse 1.5s infinite ease-in-out;"></div>
      <div class="absolute w-44 h-44 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110" style="top: 40%; left: 85%; animation: pulse 1.5s infinite ease-in-out;"></div>

      <div class="absolute w-50 h-50 bg-custom-purple rounded-full shadow-lg transform scale-100 transition-transform duration-300 hover:scale-110" style="top: 60%; left: 80%; animation: pulse 1.5s infinite ease-in-out;"></div>
    </div>
  
    <div *ngIf="!formSubmitted" class="relative z-10 bg-white bg-opacity-85 p-6 rounded-lg shadow-lg max-w-lg w-full">
      <h1 class="text-3xl font-bold mb-4 text-center">Restaurant List</h1>
      <form [formGroup]="restroDetails" (ngSubmit)="displayRestroDetails()">
        <label class="block mb-2">RestroName:
          <input id="restro-name" type="text" [formControl]="restroDetails.controls['name']" class="bg-rose-300 border-gray-300 p-2 rounded-lg w-full text-black" placeholder="Name">
        </label>
        <label class="block mb-2">OwnerName:
          <input id="owner-name" type="text" [formControl]="restroDetails.controls['owner']" class="bg-rose-300 p-2 rounded-lg w-full" placeholder="Owner">
        </label>
        <label class="block mb-2">Type:
          <input id="type" type="text" [formControl]="restroDetails.controls['type']" class="bg-rose-300 p-2 rounded-lg w-full" placeholder="Type (e.g., Dine-In, Takeaway)">
        </label>
        <label class="block mb-2">Phone:
          <input id="contact" type="text" [formControl]="restroDetails.controls['contact']" class="bg-rose-300 p-2 rounded-lg w-full" placeholder="Contact Details">
        </label>
        <label class="block mb-2">Address:</label>
        <label class="block mb-2">Street:
          <input id="streetName" type="text" [formControl]="restroDetails.controls['address'].controls['streetName']" class="bg-rose-300 p-2 rounded-lg w-full" placeholder="Street">
        </label>
        <label class="block mb-2">City:
          <input id="city" type="text" [formControl]="restroDetails.controls['address'].controls['city']" class="bg-rose-300 p-2 rounded-lg w-full" placeholder="City">
        </label>
        <label class="block mb-2">Pincode:
          <input id="zipCode" type="text" [formControl]="restroDetails.controls['address'].controls['zipCode']" class="bg-rose-300 p-2 rounded-lg w-full" placeholder="Pin Code">
        </label>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-lg mt-4">Submit kar Do!</button>
      </form>
    </div>
  
    <div *ngIf="formSubmitted">
      <app-child [ownerName]="ownerName" [submittedData]="submittedData" (testEvent)="getEvent($event)"></app-child>
    </div>
  </div>
  
  